@charset "utf-8";
/* CSS Document */

html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
}

.carousel-wrapper{
	position: relative;
	height: 550px;
	width: 100%;
}
.carousel-wrapper .carousel-item{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	margin:0
}
.carousel-wrapper .carousel-item .arrow {
	position: absolute;
	top: 50%;
	display: block;
	width: 50px;
	height: 50px;
	background: url("images/arrow left-02.png") 50% 50%/50px no-repeat;
}
.carousel-wrapper .carousel-item .arrow.arrow-prev {
	left: 0;
}
.carousel-wrapper .carousel-item .arrow.arrow-next {
	right: 0;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.carousel-wrapper [id^="target-item"] {
	display: none;
}
.carousel-wrapper .item-1{
	opacity: 1;
	z-index: 2;
}
.carousel-wrapper *:target ~ .item-1{
	opacity: 0;
}
.carousel-wrapper #target-item-1:target ~ .item-1{
	opacity: 1;
}
.carousel-wrapper #target-item-2:target ~ .item-2,
.carousel-wrapper #target-item-3:target ~ .item-3,
.carousel-wrapper #target-item-4:target ~ .item-4,
.carousel-wrapper #target-item-5:target ~ .item-5,
.carousel-wrapper #target-item-6:target ~ .item-6{
	z-index: 3;
	opacity: 1;
}
.carousel-wrapper img{
	width: 100%;
	height: 100%;
}
.cabeza {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 100px;
	margin-bottom: 130px;
	z-index: 62;
	
}
.cabeza #banner{
	display: block;
	margin: 0px;
}
/*menú*/

.menu{
	background-color: black;
	margin: 0 auto;
	position: fixed;
	right: 0;
    left: 0;
	top:0;
	margin-right: auto;
    margin-left: auto;
	z-index: 100;
}
.encabezado #logo{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 62;
	margin-block-end: 0;
    margin-block-start: 0;
	bottom: 0;
}

.encabezado #logo img{
	height: 85%
}
.encabezado #navegacion ul{
	list-style: none;
	text-align: center;
	padding-bottom: 25px;
	padding-left: 150px;
	margin: 0;

}
.encabezado #navegacion ul li{
	display: inline-block;
	width: 160px;
	padding-top: 30px;
	position: relative;
}
.encabezado #navegacion ul li a{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	font-size: 20px;
	color: white;
	display: block;
	padding: 10px 10px;
	text-decoration: none;	
} 
.encabezado #navegacion ul li a:hover{
	color: #d0880c;
	text-shadow: 2px 2px 2px 2px;
}
.encabezado #reserva {
	position: relative;
	background-color: #115506;
	margin-top: 10px;
	
	

}
/*nosotros*/
.nosotros h2 {
	font-size: 50px;
	font-family: "Helvetica Inserat LT Std";
	color: #115506;
	position: relative;
	text-align: center;
	top: -40px;
}

.nosotros p {
	font-size: 25px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}

.izquierda{
	float: left;
	display: block
}

.derecha{
	float: right;
	display: block
}

.izquierda  #textl{
	text-align: justify;
	margin-left: 5px;
	padding-left:40px;
	text-emphasis-position: left;
}
.derecha #textr{
	position: relative;
	text-align: justify;
	margin-right: 5px;
	padding-left: 40px;
	text-emphasis-position: right;
	padding-right: 40px;
}
/*habitaciones*/
.titulo h2{
	font-size: 50px;
	font-family: "Helvetica Inserat LT Std";
	color: #115506;
	position: relative;
	text-align: center;
}

.habitaciones{
	position: relative;
	background-color: #3f250e;
	height: 1120px;
	
}
	
.habitaciones #sencilla img{
	position: relative;
	float: left;
	display: block;
	width: 35%;
	margin-top: 40px;
	margin-left: 40px;
}

.habitaciones #sencilla h4{
	position:absolute;
	float: left;
	display: block;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 30px;
	color: white;
	top: 400px;
	left: 245px;
	background-color: #115506;
}

.habitaciones #lake img{
	position: relative;
	float: right;
	display: block;
	width: 35%;
	margin-top: 40px;
	margin-right: 50px;
}

.habitaciones #lake h4{
	position: absolute;
	float: left;
	display: block;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 30px;
	color: white;
	top: 400px;
	right: 240px;
	background-color: #115506;
}

.habitaciones #arbol img{
	position: relative;
	float: left;
	display: block;
	width: 35%;
	margin-top: 60px;
	margin-left: 40px;
	margin-right: 400px;
}

.habitaciones #arbol h4{
	position: absolute;
	float: left;
	display: block;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 30px;
	color: white;
	top: 950px;
	left: 245px;
	background-color: #115506;
}

.habitaciones a{
	text-decoration: none;
	color: white;
}
.habitaciones #campi img{
	position: relative;
	float: right;
	display: block;
	width: 35%;
	margin-top: -500px;
	margin-right: 50px;

}

.habitaciones #campi h4{
	position: absolute;
	float: left;
	display: block;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 30px;
	color: white;
	top: 950px;
	right: 240px;
	background-color: #115506;
}

/*footer*/
footer{
	margin-top: 40px;
	background-color:black;
	color: white;
	height: 250px;
}

Footer h5 {
	font-size: 18px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding-left: 40px;
	position: relative;
	top: 200px;
	height: 0;
}

footer h4{
	font-size: 20px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
}

footer #facebook{
	position: relative;
	margin-left: 550px;
	height: 0;
}

footer #insta{
	position: relative;
	display: block;
	margin-left: 660px;
	top: -14px;
	height: 0;
	
}

footer #twitter{
	position: relative;
	margin-left: 770px;
	top: -22px;
	height: 0;
}

footer h6{
	position: relative;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	top: 15px;
	height: 0;
}
footer h3{
	font-size: 18px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding-left: 1060px;
	position: relative;
	top: -5px;
	height: 0;
	 
}